@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #222;
    overflow-x:hidden;
}

#page1{
    height: 145vh;
    width: 100%;
    background-color: #C4BCB3;
    position: relative;
}
 
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black ;

}

#nav img{
         height: 30px;
         width: 30% ;
}

#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}

#nav i{
    width: 30%;
    text-align: right;

}

#elems{
    /*background-color: red;*/
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;

}
#elem1{
    width: 30%;
    height: 100%;
    /*background-color: blue;*/
   

}
#elem2{
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    border-right: 1px solid #222;
    padding: 20px 40px ;
    text-align: center;
    border-left: 1px solid #222;
   
}
#elem3{
    width: 30%;
    height: 100%;
    /*background-color: blue;*/
}

#elem1 #image-div{
    height: 40%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s ;
    
}
#elem3 #image-div{
    height: 40%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
#image-div:hover img{
    scale: 1.1;
}
#elem1 h4{
    font-size: 20px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    font-family: canopee;

}
#elem1 h4 span{
    background-color: red;
    padding: 4px;
    color: #C4BCB3;
    border-radius: 20%;
    line-height: 20px;
    margin-left: 5px;
}
#elem1 p{
    font-family: domain;
    font-weight: 100;
    color: #5d5b5b;
    font-size: 20px;

}
#elem3 h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee;
    
}
#elem3 h4 span{
    background-color: red;
    padding: 4px;
    color: #C4BCB3;
    border-radius: 20%;
    line-height: 20px;
    margin-left: 5px;
}
#elem3 p{
    font-family: domain;
    font-weight: 100;
    color: #5d5b5b;
    font-size: 20px;

}

#elem2 h2{
    font-family: canopee;
    font-size: 55px;
    /* background-color: red; */
    font-weight: 100;
}
#elem2 h3{
    font-family: domain;
    font-size: 45px;
    letter-spacing: -1px;
    font-weight: 100;
    /* background-color:yellow; */
    padding: 5px 0;
    height: 60%;
    color: #353535;
}
#elem2 h6{
    font-size: 25px;
    font-family: domain;
    font-weight: 100;
    color: #464541;

}
#page1 h1{
    font-family: canopee;
    font-size: 450px;
    background-color: black;
    color: #C4BCB3;
    line-height: 350px;
    margin: 0 20px;
    letter-spacing: -20px;
    padding-left: 25px;
    font-weight: 100;
    padding-top: 30px;
}
#page2{
    height: 165vh;
    width: 100%;
    background-color: #c3bbb2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

}
#page2-left{
    width: 33%;
    height: 100%;
    /* background-color: red; */
    padding-right:30px;


}
#page2-left img{
    height: 40%;
    width: 100%;
    object-fit: cover;
}
#page2-left h2{
    font-family: canopee;
    font-size: 95px;
    font-weight: 100;
    letter-spacing: -5px;
    /* background-color: blueviolet; */
    height: 30%;
    padding-top: 30px;
    
    

}
#page2-left h2 span{
    font-size: 150px;
    font-weight: 600;
    /* padding-bottom: 40px; */

}
#page2-left p{
    font-family: domain;
    font-size: 28px;
    font-weight: 100;
}
#page2-left p span{
    font-size: 50px;
    background-color: #2d2d2d;
    color: #c3bbb2;
    border-radius: 10%;
    padding: 0 4px;
}
#page2-right{
    height: 100%;
    width: 65%;
    /* background-color: red; */
    
}
#page2-right img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    padding-left: 50px;
    padding-top: 40px;

}
#page2 #page2-right h1{
    font-family: canopee;
    font-size: 100px;
    /* background-color: blue; */
    padding-left: 45px;
    font-size:90px ;
    font-weight: 100;
    padding-top: 50px;

}
#page3{
    position: relative;
    height: 55vh;
    width: 100%;
    background-color: #c3bbb2;
}
#page3 h1{
    font-size: 340px;
    font-weight: 100;
    letter-spacing: -10px;
    font-family: canopee;
    width: fit-content;
    background-color: #1c1c19;
    margin-left: 2%;
    color: #C4BCB3;
    padding: 2% 3% 0 2%;
    line-height: 300px;
}
#page3 img{
    height: 330px;
    position: absolute;
    top: 0;
    right: 3%;
    /* background-color: red; */
    padding-top: 0 2px;
}
#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    background-color: #c3bbb2;
}
#page4-left{
    width: 65%;
    height: 100%;
    padding: 80px 60px;
}

#page4-left img{
     height: 100%;
     width: 100%;
     object-fit: cover;  
}
#page4-right img{
    height: 100%;
    width: 35%;
    padding: 80px 60px; 
   
}
#page4-right p{
    font-size: 30px;
    font-family: domain;
    font-weight: 100;
    color: #2f2f2f;
    margin-bottom: 50px;

}



    